rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isVerifiedCustomer() {
      return request.auth != null
        && (("phone_number" in request.auth.token
        && request.auth.token.phone_number != null)
        || ("email" in request.auth.token
        && request.auth.token.email_verified == true));
    }

    match /sourcing-orders/{userId}/{fileName} {
      allow read: if isVerifiedCustomer();
      allow write: if isVerifiedCustomer()
        && request.auth.uid == userId
        && request.resource.size < 5 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');
    }
  }
}
